*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

html {
  font-size: 62.5%;
  overflow: hidden;
  height: 100%;
}
hr {
  margin-bottom: $space;
}
body {
  font-family: 'Roboto', sans-serif;
  //font-family: Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  background-color: $background-gray;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
  height: 100%;
  touch-action: manipulation;
}

h1.workout--h1 {
  font-weight: 300;
  margin-bottom: $space;
  color: $brand-primary;
}

.Cal__Slider__arrow{
  display: none !important;
}

.Cal__Container__root{
  border: 1px solid $gray;
  box-shadow: $box-shadow;
}

h2.workout--h2 {
  font-size: $large-font-size;
  margin-bottom: $space;
  color: $title-text;
  font-weight: 500;
}

h3.workout--h3 {
  color: $brand-primary;
}

p.workout--paragraph {
  margin-bottom: $space;
  color: $secondary-text;
}

a.workout--anchor {
  color: black;
}

ul.workout--list {
  list-style-type: none;
  max-height: 320px;
  overflow-y: auto;
}

table {
  width: 100%;
  border: 1px solid $gray;
  table-layout: fixed;
  border-radius: 1rem;
  background-color: white;
  color: $brand-primary;
  font-size: $base-font-size;
  font-weight: 400;
  border-collapse: collapse;
  overflow: hidden;
}

thead {
  background: $brand-primary;
  color: white;
  font-size: $medium-font-size;
  font-weight: 500;
  height: 5rem;
}

tr {
  height: 4rem;
}

tbody tr:nth-child(odd){
  background-color: $list-item-odd;
}
td, th {
  padding-left: $space ;
  text-align: left;
}

td, th, td *, th *{
  text-align: left;
  overflow-wrap: break-word;
  word-break: break-word;
}

thead th{
  &:nth-child(1){
    width: 30%;
  }
  &:nth-child(2){
    width: 25%;
    padding: 0;
  }
  &:nth-child(3){
    width: 25%;
  }
  &:nth-child(4){
    width: 20%;
  }
}
ul.double-column {
  @extend ul.workout--list;
  width: 75%;
  margin: 0 auto;
  columns: 2;
  li {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
  }
  button {
    margin: 0;
  }
}
// .selected {
//   background-color: rgba(0, 0, 0, 0.2) !important;
// }

.no-margin {
  margin: 0px;
}
.workout--list li {
  font-size: $medium-font-size;
  padding: $space 0px;
  border-bottom: 1px solid $item-border;
  text-align: center;
  // box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  // &:nth-child(odd){
  //   background-color: $list-item-odd;
  //   &:hover{
  //     background-color: darken($list-item-odd, 5);
  //   }
  // }
  &:hover {
      background-color: darken(white, 5);
      cursor: pointer;
  }
  // &:first-child{
  //   border-top: 1px solid $item-border;
  // }
}
// .workout--list li {
//   font-size: $medium-font-size;
//   padding: $space 0px;
//   border-bottom: 1px solid $item-border;
//   text-align: center;
//   &:nth-child(odd){
//     background-color: $list-item-odd;
//     &:hover{
//       background-color: darken($list-item-odd, 5);
//     }
//   }
//   &:hover {
//     background-color: darken(white, 5);
//     cursor: pointer;
//   }
//   // &:first-child{
//   //   border-top: 1px solid $item-border;
//   // }
// }

input[type=text], input[type=email], input[type=number],input[type=password] {
  border: 1px solid $input-border;
  font-size: $base-font-size;
  margin-bottom: $space;
  padding: $input-spacing;
  &:disabled{
    color: $input-disbled-text-color;
  }
}

input[type=text]:disabled{
  color: $input-disbled-text-color;
}

.pseudo-input{
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  // border: 1px solid $input-border;
  font-size: $medium-font-size;
  margin-bottom: $space;
  color: $pseudo-text-color;
  padding: $input-spacing;
  user-select: none;
  background-color: white;
  &.disabled{
    color: $input-disbled-text-color;
  }
}
