*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  scrollbar-width: none;
}

::-webkit-scrollbar{
  display: none;

}

// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

// @import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;700;900&display=swap');
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  // font-weight: 400;
  src: url("/Ruda/Ruda-VariableFont_wght.ttf");
}

// html, body {
//   font-family: 'Roboto', sans-serif;
// }
html {
  font-size: 62.5%;
  overflow: hidden;
  height: 100%;
}
hr {
  margin-bottom: $space;
}
$bg-img: url('background-image.jpg');
body {
  font-family: 'Ruda', sans-serif;
  //font-family: Helvetica, Arial, sans-serif;
  // font-size: $base-font-size;
  font-size: 1.8rem;
  background-color: $surface;
  // background: $surface $bg-img;
  // background-position:  center;
  // background-repeat:  no-repeat;
  // background-size:  cover;
  color: white;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
  // height: 100vh;
  // touch-action: manipulation;
  // Safari hack to all body to scroll
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  touch-action: manipulation;
}

// Safari hack to create a scrolling element inside of the body
#app {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction:  column;
}
#pt {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom:0px;
}

.padding-horiz{
  padding: 0px 2*$space !important;
}

.padding-vert{
  padding: 2*$space 0px !important;
}

.padding{
  padding: 2*$space !important;
}

.footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: $space $space $space*4; // Safari iOS fix 
  display: flex;
  justify-content:  center;
  align-items: center;
  flex-direction:  column;
  flex: 0 0 auto; // Safari fix
  .footer__row {
    padding: $space;
    display: flex;
    flex-direction:  row;
    margin-bottom: $space;
  }
  .footer__link{
    padding: $space;
    border-radius: 50%;
    @include size(60px);
    text-decoration: none;
    color: $primary;
    margin: 0px $space/4;
    cursor: pointer;
    &:after {
      background-color: rgba(255, 255, 255, 0.0);
      transition: background-color 0.2s ease-in-out;
    }
    &:hover, &:active {
      &:after {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
  .footer__name{
    font-weight: 300;
    text-transform: uppercase;
    margin-right: $space/2;
    color: $text-disabled;
  }

  .footer__year{
    font-weight: 400;
    color: $secondary-dark;
  }

}

@media (hover: none) {
  .footer {
    .footer__link {
      &:after {
        background-color: rgba(255, 255, 255, 0.0);
      }
      &:hover:after{
        background-color: rgba(255, 255, 255, 0.0);
      }
    }
  }
}

.link{
  text-decoration: underline;
  color: $primary;
  cursor: pointer;
}

.no-padding{
  padding: 0px !important; 
}
.title {
  font: 300 2.6rem "Ruda";
  color: $text-high-emphasis;
  margin: $space;
  text-align: center;
}

@media #{$medium-and-down}{
  .title{
      font-size: 2.2rem;
  }
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.center-text{
  text-align: center !important;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  &--center{
      justify-content: center;
  }
  &--between{
      justify-content: space-between;
  }
  &--evenly {
      justify-content: space-evenly;
  }
  &--around {
      justify-content: space-around;
  }
  &--col {
      flex-direction: column;
      height: 100%;
  }
  &--stretch {
      > *{
          flex: 1 0 auto;
      }
  }
  &--rev {
      flex-direction: row-reverse;
  }
  &--end {
      justify-content: flex-end;
  }
  &--align-start{
      align-items: start;
  }
  &--align-end{
      align-items: end;
  }
}

.margin{
  margin: 1.8rem 0px;
}

.anchor {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    background-color: transparent;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: all;
  }
}
h1.workout--h1 {
  font-weight: 300;
  margin-bottom: $space;
  color: $brand-primary;
}

.Cal__Slider__arrow{
  display: none !important;
}

.Cal__Container__root{
  border: 1px solid $gray;
  box-shadow: $box-shadow;
}

h2.workout--h2 {
  font-size: $large-font-size;
  margin-bottom: $space;
  color: $title-text;
  font-weight: 500;
}

h3.workout--h3 {
  color: $brand-primary;
}

p.workout--paragraph {
  margin-bottom: $space;
  color: $secondary-text;
}

a.workout--anchor {
  color: black;
}

ul.workout--list {
  list-style-type: none;
  max-height: 320px;
  overflow-y: auto;
}

table {
  width: 100%;
  border: 1px solid $gray;
  table-layout: fixed;
  border-radius: 1rem;
  background-color: white;
  color: $brand-primary;
  font-size: $base-font-size;
  font-weight: 400;
  border-collapse: collapse;
  overflow: hidden;
}

thead {
  background: $brand-primary;
  color: white;
  font-size: $medium-font-size;
  font-weight: 500;
  height: 5rem;
}

tr {
  height: 4rem;
}

tbody tr:nth-child(odd){
  background-color: $list-item-odd;
}
td, th {
  padding-left: $space ;
  text-align: left;
}

td, th, td *, th *{
  text-align: left;
  overflow-wrap: break-word;
  word-break: break-word;
}

thead th{
  &:nth-child(1){
    width: 30%;
  }
  &:nth-child(2){
    width: 25%;
    padding: 0;
  }
  &:nth-child(3){
    width: 25%;
  }
  &:nth-child(4){
    width: 20%;
  }
}
ul.double-column {
  @extend ul.workout--list;
  width: 75%;
  margin: 0 auto;
  columns: 2;
  li {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
  }
  button {
    margin: 0;
  }
}
// .selected {
//   background-color: rgba(0, 0, 0, 0.2) !important;
// }

.no-margin {
  margin: 0px !important;
}
.workout--list li {
  font-size: $medium-font-size;
  padding: $space 0px;
  border-bottom: 1px solid $item-border;
  text-align: center;
  // box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  // &:nth-child(odd){
  //   background-color: $list-item-odd;
  //   &:hover{
  //     background-color: darken($list-item-odd, 5);
  //   }
  // }
  &:hover {
      background-color: darken(white, 5);
      cursor: pointer;
  }
  // &:first-child{
  //   border-top: 1px solid $item-border;
  // }
}
// .workout--list li {
//   font-size: $medium-font-size;
//   padding: $space 0px;
//   border-bottom: 1px solid $item-border;
//   text-align: center;
//   &:nth-child(odd){
//     background-color: $list-item-odd;
//     &:hover{
//       background-color: darken($list-item-odd, 5);
//     }
//   }
//   &:hover {
//     background-color: darken(white, 5);
//     cursor: pointer;
//   }
//   // &:first-child{
//   //   border-top: 1px solid $item-border;
//   // }
// }

input[type=text], input[type=email], input[type=number],input[type=password] {
  border: 1px solid $input-border;
  font-size: $base-font-size;
  margin-bottom: $space;
  padding: $input-spacing;
  &:disabled{
    color: $input-disbled-text-color;
  }
}

input[type=text]:disabled{
  color: $input-disbled-text-color;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 1;
  background: rgba(0,0,0,0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none
}

.pseudo-input{
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  // border: 1px solid $input-border;
  font-size: $medium-font-size;
  margin-bottom: $space;
  color: $pseudo-text-color;
  padding: $input-spacing;
  user-select: none;
  background-color: white;
  &.disabled{
    color: $input-disbled-text-color;
  }
}

.bg-tr{
  background-color: #8e44ad !important;
}

.bg-wt {
  background-color: white !important;
}

.c-wt {
  color: white !important;
}
.c-tr {
  color: #8e44ad !important;
}
