* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  background-color: $background-gray;
}

h1.workout--h1 {
  font-weight: 300;
  margin-bottom: $space;
  color: $brand-primary;
}

h2.workout--h2 {
  font-size: $large-font-size;
  margin-bottom: $space;
  color: $title-text;
  font-weight: 500;
}

h3.workout--h3 {
  color: $brand-primary;
}

p.workout--paragraph {
  margin-bottom: $space;
  color: $secondary-text;
}

a.workout--anchor {
  color: black;
}

ul.workout--list {
  list-style-type: none;
  max-height: 300px;
  overflow-y: auto;
}

.workout--list li {
  font-size: $medium-font-size;
  padding: $space 0px;
  border-bottom: 1px solid $item-border;
  text-align: center;
  &:hover {
    background-color: darken(white, 5);
    cursor: pointer;
  }
  &:first-child{
    border-top: 1px solid $item-border;
  }
}

input[type=text], input[type=email], input[type=number],input[type=password] {
  border: 1px solid $input-border;
  font-size: $base-font-size;
  margin-bottom: $space;
  padding: $input-spacing;
  &:disabled{
    color: $input-disbled-text-color;
  }
}

input[type=text]:disabled{
  color: $input-disbled-text-color;
}

.pseudo-input{
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  // border: 1px solid $input-border;
  font-size: $medium-font-size;
  margin-bottom: $space;
  color: $pseudo-text-color;
  padding: $input-spacing;
  user-select: none;
  background-color: white;
  &.disabled{
    color: $input-disbled-text-color;
  }
}
