// Colors
$brand-primaryy: #5b4681;
$brand-primary: #5a5c5e;
$text-grey: #65686a;
$grey: #dddddd;
$light-grey: #f9f9f9;
$dark-grey: #777777;
$background-gray: #fbfbfb; //page background
$gray: #cbd1da;
$gray-text: #cad1db;
$secondary-text: #838b91; //Secondar Text
$primary-text: #595c5e;
$title-text: #414a55;
$nav-bar-icon: #4a4a4a;
$header-bottom-border: #eee;//header bottom border
// $container-text: #434a54;
$secondary-text: #434a54;
$list-item-odd: #e5e5e5;
$theme-color: #5b5c5e;//Button, top border, sub-list menu 
$theme-color-tint-20: #7c7d7e;
$theme-color-tint-30: #8c8d8e;
$theme-color-tint-40: #9d9d9e;
$theme-color-tint-50: #adaeaf;
$theme-color-tint-60: #bdbebf;
$theme-color-tint-70: #cececf;

// Spacing
$space: 1.4rem;
$site-max-width: 55rem;
$header-content-width: 75rem;

// Icon
$icon-color: $brand-primary;
// $box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
$box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow-2: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
// Font sizes
$base-font-size: 1.4rem;
$large-font-size: 1.8rem;
$medium-font-size: 1.6rem;
$small-font-size: 1.2rem;
// Form inputs
$input-border: $grey;
$input-spacing: 1rem;
$input-disbled-text-color: $grey; 

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;
$top-border: $brand-primary;

// Button
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// Header
$header-bg: $brand-primary;
$header-color: white;

// Pseudo Element
$pseudo-text-color: $secondary-text;

// item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;
