.btn {
    position: relative;
    background-color: $primary;
    border: none;
    color: black;
    min-width: 128px;
    cursor: pointer;
    overflow: hidden;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: $input-spacing 2*$input-spacing;
    outline: none;
    overflow: hidden;
    box-shadow: none;
    border: solid 2px $primary;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover, &:active, &:focus, &.clicked {
        background-color: $primary-light;
        border-color: $primary-light;
    }

    &.clicked{
        transition: none;
    }

    &--outlined{
        background-color: transparent;
        border-color: white;
        color: white;
        &:hover, &:active, &:focus, &.clicked{
            background-color: $primary;
            border-color: $primary;
            color: black;
            &:disabled {
                background-color: transparent;
                border-color: $text-disabled;
                color: $text-disabled;
            }
        }
        &:disabled {
            background-color: transparent;
            border-color: $text-disabled;
            color: $text-disabled;
        }
    }
    // animation:  150ms ease-in-out;
    // animation-play-state: paused;
    // &:after {
    //   position: absolute;
    //   content: "";
    //   left: 0;
    //   top: -15%; 
    //   bottom: -15%;
    //   right: 0;
    //   border-radius: 50%;
    //   transform: scale(0);
    //   background-color: rgba(255, 255, 255, 0.1);
    //   transition: transform 200ms ease-in-out; 
    // }
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: $space*2;
    > button{
        margin: 0px 30px;
    }
    > button:first-child{
        margin-left: 0px;
    }
    > button:last-child{
        margin-right: 0px;
    }
    &--margin-top {
        margin-top: $space*2;
    }
    &--expand{
        height: auto;
        flex: 1 1 auto;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
    }
}