.contact__description{
    color: $text-med-emphasis;
    font-size: 2rem;
    text-align: center;
}

.contact__button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}