.header__title {
    margin-bottom: $space*2;
    // font-weight: 700;
    text-align: center;
    font: 700 4.4rem 'Ruda';
    text-decoration: underline;
    color: $text-high-emphasis;
}

@media #{$medium-and-down}{
    .header__title{
        font-size: 3.3rem;
    }
}