nav{
    // border-bottom: solid 1px $primary;
}

.nav-bar{
    @include elevation(1);
    padding: 1.2rem;
    position: sticky;
    top: 0px;
    padding: $space 0px;
    z-index: 1;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    
    > li:first-child .nav-link{
        margin-left: 0px;
    }
}

.nav-link {
    display: inline-block;
    color: $text-med-emphasis;
    font-size: 1.8rem;
    // margin: 0px 1.5*$space;
    text-decoration: none;
    margin-right: $space*2;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    
    &.active{
        color: $secondary;
    }
    &:hover{
        color: $secondary-light;
    }
    &--title {
        color: $text-high-emphasis;
    }
}

// Support for unhighlighting previous selected links on touch screen devices
@media (hover: none) {
    .nav-link, .nav-link:hover {
        color: $text-med-emphasis;
    }

    .nav-link.active {
        color: $secondary;
    }
}

@media #{$medium-and-up}{
    .nav-link{
        margin-right: $space*4;
        font-size: 1.8rem;
    }
}