.skills{
    color: $text-med-emphasis;
    margin-left: 3*$space;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.skill {
    margin-left: $space;
}

.skill-sets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    border-top-right-radius: 0px;
    border-bottom-left-radius: $space/2;
    border-bottom-right-radius: $space/2;
    border-top: solid 2px $border-med-emphasis;
    
}

@media #{$large-and-up}{
    .skill-sets{
        flex-direction: column;
        // background-color: $surface-3;
        border-top-right-radius: $space/2;
        border-left: solid 2px $border-med-emphasis;
        border-top: none;
        border-bottom-left-radius: 0px;
    }
}