.backdrop{
    height: 100vh;
    background-color: $background-gray;
}

.backdrop-img{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}
.qpr-logo {
    width: 12%;
    margin: 40px;
    visibility: visible;
}
.header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    width: 20%;
}
.westbrom-logo {
    margin: 40px;
    width: 12%;
    visibility: visible;
}