.boxed-view {
  align-items: center;
  background: $boxed-view-overlay-bg;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.boxed-view--modal {
  background: fade-out($boxed-view-overlay-bg, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  visibility: visible;
  transition: background 300ms ease-in-out;
  &.hidden{
    visibility: hidden;
    background: transparent;
  }
}


.boxed-view__box {
  background-color: $boxed-view-bg;
  padding: 2.4rem 1rem;
  text-align: center;
  border: 1px solid $gray;
  border-top: 2px solid $top-border;
  box-shadow: $box-shadow;
  &.boxed-view__box--vert{
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-bottom: $space;
  }
  &.boxed-view__box--horiz {
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $space;
  }
  &.boxed-view__box--container{
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
  }
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}
