.chip__container{
    display: flex;
    align-items: center;
}
  
.chip {
    display: inline-block;
    padding: 5px 5px 5px 15px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: $medium-font-size;
    font-weight:400;
    background-color: #FFFFFF;
    border: 2px solid $secondary-text;
    color: $secondary-text;
    border-radius: 20px;
    &:hover {
        cursor: pointer;
    }
}
  
.chip__label{
    padding: 0px 10px 0px 0px;
    user-select: none;
    &:hover {
        cursor: pointer;
    }
}
.chip__delete-icon {
    position: relative;
    line-height: 1;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    color:black;
    border: 2px solid $secondary-text;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
    }
    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $secondary-text;
        content: "";
        height: 2px;
        width: 10px;
    }
}