.exercise--set {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 100%;
    align-items: center;
    grid-template-rows: 45px;
    grid-template-areas: "exerciseWeight exerciseReps exerciseORM";
    &.exercise--set-edit{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "editSet deleteSet";
    }
    
}

.exercise--edit-set{
    display: flex;
    justify-content: center;
    grid-area: editSet;
    width: 100%;
}

.exercise--delete-set{
    display: flex;
    justify-content: center;
    grid-area: deleteSet;
    width: 100%;
}

.exercise--weight{
    grid-area: exerciseWeight;
    width: 100%;
    text-align: center;
}

.exercise--reps{
    grid-area: exerciseReps;
    width: 100%;
    text-align: center;
}

.exercise--orm {
    grid-area: exerciseORM;
    width: 100%;
    text-align: center;
}