.exercise--set {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 100%;
    align-items: center;
    grid-template-rows: 45px;
    grid-template-areas: "exerciseWeight exerciseReps exerciseORM";
    &.exercise--set-edit{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "editSet deleteSet";
    }
    &.exercise--set__header{
        grid-template-rows: 3rem;
        grid-template-columns: 3fr 4fr 4fr 4fr;
        grid-template-areas: "exerciseTitle exerciseWeight exerciseReps exerciseORM";
    }
    &.exercise--set__large-rows{
        grid-template-rows: 6rem;
    }
    &.exercise--set__list{
        border: none;
        padding: 1.0rem 0px;
    }
    
}

.exercise--edit-set{
    display: flex;
    justify-content: center;
    grid-area: editSet;
    width: 100%;
}

.exercise--delete-set{
    display: flex;
    justify-content: center;
    grid-area: deleteSet;
    width: 100%;
}

.exercise--weight{
    grid-area: exerciseWeight;
    width: 100%;
    text-align: center;
}

.exercise--title {
    grid-area: exerciseTitle;
    width: 100%;
    text-align: center;
}

.exercise--reps{
    grid-area: exerciseReps;
    width: 100%;
    text-align: center;
}

.exercise--orm {
    grid-area: exerciseORM;
    width: 100%;
    text-align: center;
}