.form-one {
    width: 50%;
    &.log, &.track{
        transition: opacity 150ms ease-in-out 150ms;
        opacity: 0;
    }
}

.form-two {
    opacity: 0;
    width: 50%;
    transition:  opacity 150ms ease-in-out 150ms;
    &.log, &.track{
        transition:  opacity 300ms ease-in-out;
        opacity: 1;
    }
}