.header {
  background: white;
  color: $brand-primary;
  border-bottom: 1px;
  border-bottom-color: $header-bottom-border;
  border-bottom-style: solid;
}

.header__content {
  display: flex;
  justify-content: space-between;
  max-width: $header-content-width;
  margin: 0 auto;
  padding: $space;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__title {
  margin: 0;
}
