.icon {
    color: $icon-color;
    &:hover{
        cursor: pointer;
    }
    margin-left: $space;
    &.icon--disabled{
        color: lighten($icon-color, 25);
        &:hover{
            cursor: default;
        }
    }
}
