.boxed-view--modal-item{
    position: relative;
    width: 100%;
    text-align: left;
    opacity: 1;
  transform: scale(1,1);
  transition: all 300ms ease-in-out;
  &.hidden {
    transform: scale(0, 0);
    opacity: 0;
  }
}

.modal--center-text{
    text-align: center;
}

.modal__cancel-box {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -40%);
    z-index: 10;
}