.picker {
    position: relative;
    height: 16px;
    max-height: 16px;
    width: 30px;
    overflow-y: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    
    .picker--wrapper{
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(0, -18px);
        backface-visibility: hidden;
        -webkit-perspective: 1000;
    
        .picker--dec, .picker--value, .picker--inc {
            height: 16px;
            text-align: center;
        }
        &.inc {
            transform: translate(0, -34px);
            transition: all 300ms ease-in-out;
        }
        &.dec {
            transform: translate(0, -2px);
            transition: all 300ms ease-in-out;
        }
    }
}
  
