.project-form-header{
    padding: 10px 30px 10px 0px;
    margin:20px 50px 0px 50px;
    font-size: 1.5rem;
    display: inline-block;
}

.project-form-header__icon{
    color: $blue;
    transform: rotate(90deg);
    &:hover{
        cursor: pointer;
    }
}

.project-form-header__title {
    color: $accent-color;
    margin-left: 10px;
}

.project-form-header__name {
    color: white;
    margin-left: 10px;
}