* {
    box-sizing: border-box;
  }
  $dark-grey: #333333;
  $grey: #666666;
  $blue: #62B0F2;
  $dark-blue: #364051;
  $off-white: #f7f7f7;
  
  // html, body {
  //   height: 100%;
  //   width: 100%;
  //   margin: 0;
  //   // background-color: $grey;
  //   // font-size: 18px;
  //   color: black;
  //   font-family: 'Roboto', sans-serif !important;
  // }
  
  .list-comp {
    width: 500px;
    height: 500px;
    padding: 0px;
    border: solid 2px black;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin: 50% 50%;
    perspective: 200px;
    transform-style: preserve-3d;
    box-sizing: border-box;
    
    > .list-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      transform-origin: 50% 50%;
      width: 100%;
      // margin: 20px 0px;
      border: solid 2px $blue;
      color: $blue;
      transition: all 0.0s ease-in-out;
      box-sizing: border-box;
      &--filler {
          border: none;
          color: transparent;
      }
      &:first-child{
        margin-top: 0px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  .center {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
  }
$lin-grad: linear-gradient( #DBE1B6 0.585058505850585%, #DBE1B6 1.08010801080108%, #DBE1B6 1.6201620162016201%, #DBE1B6 1.9801980198019802%, #DBE1B6 2.5652565256525652%, #DBE1B6 2.9702970297029703%, #F58543 3.6453645364536458%, #DBE1B6 4.095409540954095%, #DBE1B6 4.59045904590459%, #DBE1B6 5.2205220522052205%, #DBE1B6 5.9405940594059405%, #DBE1B6 6.435643564356436%, #DBE1B6 7.020702070207021%, #DBE1B6 7.605760576057606%, #DBE1B6 8.055805580558056%, #DBE1B6 8.55085508550855%, #DBE1B6 9.090909090909092%, #DBE1B6 9.675967596759676%, #DBE1B6 10.216021602160216%, #DBE1B6 10.801080108010801%, #DBE1B6 11.25112511251125%, #DBE1B6 11.746174617461747%, #DBE1B6 12.286228622862286%, #DBE1B6 12.736273627362738%, #DBE1B6 13.23132313231323%, #DBE1B6 13.771377137713772%, #DBE1B6 14.446444644464446%, #DBE1B6 14.986498649864988%, #DBE1B6 15.48154815481548%, #DBE1B6 15.931593159315932%, #F6DB68 16.606660666066606%, #EE3B30 17.596759675967597%, #F6DB68 18.181818181818183%, #F6DB68 18.81188118811881%, #DBE1B6 19.351935193519353%, #DBE1B6 19.846984698469846%, #F58543 20.567056705670566%, #DBE1B6 20.927092709270926%, #DBE1B6 21.557155715571557%, #DBE1B6 22.052205220522055%, #DBE1B6 22.5022502250225%, #DBE1B6 23.042304230423042%, #DBE1B6 23.62736273627363%, #F6DB68 24.257425742574256%, #DBE1B6 24.887488748874887%, #DBE1B6 25.337533753375336%, #DBE1B6 25.83258325832583%, #EE3B30 26.687668766876687%, #DBE1B6 27.09270927092709%, #DBE1B6 27.632763276327633%, #DBE1B6 28.127812781278127%, #DBE1B6 28.622862286228624%, #DBE1B6 29.162916291629166%, #DBE1B6 29.65796579657966%, #DBE1B6 30.10801080108011%, #DBE1B6 30.603060306030606%, #DBE1B6 31.818181818181817%, #DBE1B6 32.268226822682266%, #DBE1B6 32.76327632763276%, #DBE1B6 33.753375337533754%, #DBE1B6 34.2034203420342%, #DBE1B6 34.74347434743474%, #DBE1B6 35.193519351935194%, #DBE1B6 35.64356435643564%, #EE3B30 36.9036903690369%, #DBE1B6 37.263726372637265%, #DBE1B6 37.71377137713771%, #DBE1B6 38.2988298829883%, #DBE1B6 38.793879387938794%, #DBE1B6 39.46894689468947%, #DBE1B6 40.00900090009001%, #DBE1B6 40.5040504050405%, #DBE1B6 41.044104410441044%, #DBE1B6 41.539153915391545%, #DBE1B6 42.21422142214221%, #DBE1B6 42.61926192619262%, #DBE1B6 43.15931593159316%, #DBE1B6 43.65436543654365%, #DBE1B6 44.19441944194419%, #DBE1B6 44.82448244824482%, #DBE1B6 45.274527452745275%, #DBE1B6 45.81458145814582%, #DBE1B6 46.30963096309631%, #DBE1B6 47.16471647164717%, #DBE1B6 47.65976597659766%, #DBE1B6 48.154815481548155%, #DBE1B6 48.64986498649865%, #DBE1B6 49.23492349234924%, #DBE1B6 49.81998199819982%, #DBE1B6 50.31503150315032%, #DBE1B6 50.99009900990099%, #DBE1B6 51.44014401440145%, #DBE1B6 51.98019801980198%, #DBE1B6 52.475247524752476%, #DBE1B6 52.97029702970298%, #DBE1B6 53.285328532853285%, #DBE1B6 53.91539153915391%, #DBE1B6 54.27542754275427%, #DBE1B6 54.770477047704766%, #DBE1B6 55.31053105310531%, #DBE1B6 55.8055805580558%, #DBE1B6 56.255625562556254%, #DBE1B6 56.79567956795679%, #DBE1B6 57.38073807380738%, #DBE1B6 57.920792079207914%, #DBE1B6 58.415841584158414%, #DBE1B6 59.045904590459045%, #DBE1B6 59.4959495949595%, #DBE1B6 59.99099909990999%, #DBE1B6 60.441044104410445%, #F6DB68 61.02610261026102%, #DBE1B6 61.79117911791179%, #DBE1B6 62.24122412241224%, #DBE1B6 63.41134113411341%, #DBE1B6 63.996399639964%, #DBE1B6 64.62646264626463%, #DBE1B6 65.52655265526552%, #DBE1B6 66.15661566156615%, #DBE1B6 66.6966696669667%, #DBE1B6 67.1917191719172%, #DBE1B6 67.64176417641764%, #DBE1B6 68.18181818181817%, #DBE1B6 68.76687668766877%, #DBE1B6 69.3069306930693%, #DBE1B6 69.80198019801979%, #DBE1B6 70.43204320432042%, #DBE1B6 71.01710171017102%, #DBE1B6 71.55715571557155%, #DBE1B6 72.14221422142214%, #DBE1B6 72.59225922592259%, #DBE1B6 73.08730873087309%, #DBE1B6 73.58235823582359%, #DBE1B6 74.03240324032403%, #F58543 74.84248424842484%, #DBE1B6 75.42754275427542%, #DBE1B6 75.92259225922592%, #DBE1B6 76.46264626462647%, #DBE1B6 77.002700270027%, #EE3B30 77.63276327632764%, #F58543 78.12781278127812%, #DBE1B6 78.71287128712872%, #F6DB68 79.43294329432943%, #DBE1B6 79.83798379837984%, #F58543 80.51305130513052%, #DBE1B6 80.96309630963097%, #F58543 81.5931593159316%, #DBE1B6 82.67326732673267%, #DBE1B6 83.16831683168317%, #DBE1B6 83.75337533753375%, #DBE1B6 84.24842484248425%, #DBE1B6 84.78847884788479%, #F58543 85.37353735373537%, #DBE1B6 85.86858685868587%, #DBE1B6 86.45364536453646%, #F58543 87.17371737173717%, #F58543 87.62376237623762%, #DBE1B6 88.20882088208822%, #DBE1B6 88.74887488748875%, #EE3B30 89.28892889288929%, #F58543 90.27902790279028%, #DBE1B6 90.81908190819082%, #DBE1B6 91.35913591359136%, #DBE1B6 91.85418541854186%, #DBE1B6 92.12421242124212%, #DBE1B6 92.66426642664266%, #DBE1B6 93.24932493249325%, #DBE1B6 93.74437443744374%, #DBE1B6 94.23942394239424%, #DBE1B6 94.77947794779477%, #F6DB68 95.36453645364537%, #F58543 95.94959495949595%, #DBE1B6 96.44464446444645%, #F6DB68 97.02970297029702%, #DBE1B6 97.61476147614762%, #DBE1B6 98.10981098109811%, #DBE1B6 98.6948694869487%, #DBE1B6 99.18991899189919%, #EE3B30 100%,);

.heat-bar{
  width: 5px;
  height: 500px;
  margin-left: 5px;
  background-image: linear-gradient(blue, green, orange, red);
  display: inline;
}