.scoreboard{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.scoreboard__score, .scoreboard__multiplier{
    font-size: $large-font-size;
    font-weight: 400;
    color: $secondary-text;
    
}