.toggle{
    margin: 0px ($space / 4);
    transition: background-color 200ms ease-in-out;
    padding: $space / 2;
    border-radius: 20px;
    &.toggle--selected{
      background-color: $brand-primary;
    }
    &:first-child{
        margin-left: 0;
    }
}

.toggle__container {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: $space;
    
}

.toggle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 16rem;
    border-radius: 4rem;
    padding: 0.5rem 1.4rem;
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
    background: color;
    color: $brand-primary;
    
}
.thumb{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 3rem;
    border-radius: 4rem;
    padding: 0.5rem 0;
    width: 10.4rem;
    background-color: $brand-primary;
    color: white;
    font-size: $medium-font-size;
    font-weight: 500;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    &.toggled {
        width: 6rem;
        transform: translateX(10rem);
    }

}

.toggle-text--left{
    transition: opacity 0.3s ease-in-out;
    font-size: $medium-font-size;
    font-weight: 500;
    opacity: 0;
} 
.toggle-text--right {
    transition: opacity 0.3s ease-in-out;
    font-size: $medium-font-size;
    font-weight: 500;
    opacity: 1;
}

.thumb.toggled ~ .toggle-text--left {
    opacity: 1;
}

.thumb.toggled ~ .toggle-text--right {
    opacity: 0;
}

.toggle__seperator {
    font-weight: 500;
    color: $brand-primary;
    font-size: 2 * $base-font-size;
}
.toggle__radio{
    display: none;
}

.toggle__label {
    font-size: $medium-font-size;
    color: $brand-primary;
    user-select: none;
    &:hover{
        cursor: pointer;
    }
    &.toggle--selected{
        color: $gray-text;
    }
}